body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
}
.navbar-inverse{
	background-color: rgba(200,200,200,0.1);
	border-color: rgba(200,200,200,0.2);
}


.video {
  background-color: rgba(200,200,200,0.1);
  min-height: 500px;
}

.chat {
  background-color: rgba(200,200,200,0.1);
}