<header>
  <!-- STICKY NAVIGATION -->
  <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <!-- LOGO -->
        <a class="navbar-brand" href="/">
          <img src="/assets/img/logo-nav.png" alt="">
        </a>
      </div>

      <!-- TOP BAR -->
      <div class="navbar-collapse collapse" id="stamp-navigation">

        <!-- NAVIGATION LINK -->

        <ul class="nav navbar-nav navbar-left main-navigation small-text">
          <li>
            <a id="copylink" class="lowercase" data-toggle="tooltip"
              data-placement="right" title="Share your stream">{{client.getLink()}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /END CONTAINER -->

  </div>
  <!-- /END STICKY NAVIGATION -->

  <!-- =========================
	SECTION: Container
	============================== -->
</header>
<div class="container content-pg">

  <div class="row" ng-hide="requiresApproval">
    <div class="row-same-height">
      <video class="col-md-8 col-xs-height col-full-height stream-video" id="video" ng-src="{{videoSrc}}" autoplay></video>

      <div class="hidden-xs hidden-sm col-md-4 col-xs-height col-full-height card chat">
        <h1><span class="circle" style="background-color: 'red';"/> {{name}}</h1>
        <ul class="messages" scroll-glue>
          <li ng-repeat="m in messages"><span class="circle" style="background-color: {{m.color || 'red'}};"/>{{m.text}}</li>
        </ul>
        <div class="input">
          <form name="form" ng-submit="chat()">
          <input type="text" ng-model="message" required/>
          <button class="btn btn-primary" type="submit" ng-disabled="!message">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0 ">
      <div class="col-md-10 col-sm-10 stream-data">
        <ul class="list-unstyled">
          <div ng-hide="expirationDate">
            Establishing channel...
          </div>
          <div ng-show="expirationDate">
            Your funds will run out <span am-time-ago="expirationDate"></span> ({{secondsLeft}} seconds)
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 ">
      <button ng-disabled="established" ng-click="end()" class="btn btn-danger btn-lg btn-end btn-full">End stream!</button>
    </div>
  </div>
</div>
