<div class="content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="lead">
        Stream to your viewers and get paid directly, no middlemen.
      </p>

      <form class="form-horizontal" role="form">

        <div class="form-group has-feedback">
          <div class="input-group">
            <div class="input-group-addon">Streamium.io/#</div>
            <input type="text" class="form-control" id="name" placeholder="Stream name">
            <span class="glyphicon glyphicon-ok form-control-feedback hide"></span>
          </div>
        </div>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="address" placeholder="Bitcoin address">
            <span class="glyphicon glyphicon-ok form-control-feedback hide"></span>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <select class="form-control col-md-2" id="price">
              <option value="1">$1.00 USD/min</option>
              <option value="0.1">$0.10 USD/min</option>
              <option value="0.01">$0.01 USD/min</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="btc" value="BTC/min" disabled="disabled">
          </div>
        </div>

        <div class="form-group">
            <button type="submit" id="create-room" class="btn btn-success" disabled="disabled">Get Started</button>
        </div>
      </form>
    </div>
  </div>  
</div>