/* app css stylesheet */

.center {
  text-align: center;
}

.space-top {
  margin-top: 8px;
}

.space-top-big {
  margin-top: 80px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}

.card h3 {
  margin-top: 0px;
}

.card.card-status .glyphicon {
  font-size: 2.4rem;
}

.background {
  padding-bottom: 20px;
}

#section7 .overlay-layer-2 {
  padding-bottom: 10px;
}

qr canvas {
  height: 100%;
  width: 100%;
}

.step-count {
  font-size: 1.5em;
  font-weight: bold;
}

.left-border {
  border-left: solid 2px #DDD;
}

.funding-address {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.rate {
  margin: 0 10px;
}

ul.checkmark li:before {
  content: "\2713\0020";
}

.borderless {
  border: none;
  background: transparent;
  border-bottom: solid 1px;
}

.naked {
  border: none;
  width: 50%;
  color: blue;
}

.naked2 {
  border: none;
  width: 100%;
}

html,
body {
  height: 100%;
}

body > div {
  min-height: 100%;
}

#global-footer {
  padding: 18px;
  border-top: 1px solid #eaebec;
  background: #F7F8FA;
  font-size: 12px;
  line-height: 12px;
}

#bitmag {
  padding-left: 29px;
  padding-right: 29px;
}

.chat {
  padding-top: 0;
}

.chat h1 {
  font-size: 1.4em;
  line-height: 3rem;
  text-align: center;
  border-bottom: solid 2px #DDD;
  margin-top: 0px;
  height: 10%;
}

.chat .messages {
  height: 80%;
  overflow-y: scroll;
}

.circle {
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  display: inline-block;
}

.chat .input {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.chat .input input {
  width: 80%;
}

.chat .input button {
  width: 18%;
}

.video {
  margin-bottom: 20px;
}
/* columns of same height styles */

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tooltip-inner {
  font-size: 14px;
  width: 160px;
}

.text-justify {
  text-align: justify;
}

.tungsten {
  color: #555555;
}

.softlink {
  color: inherit;
  border-bottom: 1px dashed #999;
}

.softlink:hover {
  color: inherit;
  text-decoration: none;
}


.btn-navbar {
  margin-top: 24px;
  min-width: 90px;
  margin-left: 20px;
}
