<form name="form" ng-submit="submit()" class="form-horizontal" role="form" no-validate>

  <div class="form-group has-feedback">
    <div class="input-group">
      <div class="input-group-addon">Streamium.io/app/stream/</div>
      <input
        class="form-control"
        name="name" required
        ng-model="stream.name"
        placeholder="Stream name"
        ng-change="normalizeName()">
      <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.name.$valid"></span>
    </div>
  </div>

  <div class="form-group has-feedback">
      <input
        class="form-control"
        name="address" required
        ng-model="stream.address" valid-address
        placeholder="Bitcoin address">
      <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.address.$valid"></span>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <select
        name="rate" required
        ng-model="stream.rate"
        class="form-control col-md-2"
        ng-options="'$' + val + ' USD/min' for val in prices"/>
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="btc" value="{{stream.rate|USD2BTC}}/min" disabled="disabled">
    </div>
  </div>

  <div class="form-group">
      <button
        type="submit"
        class="btn btn-success"
        ng-disabled="form.$invalid">Start</button>
  </div>
</form>
